<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
    PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-config.dtd">
 
 
<configuration>
 		<settings>
	        <!-- null값이 파라미터로 전달될 때 오류나지 않게 NULL 처리 -->
	        <!-- 이거 하면 #{parameter, jdbcType=VARCHAR} 이렇게 안해도 된다 -->
	        <setting name="jdbcTypeForNull" value="NULL"/>
	    </settings>
    <typeAliases>        
         <typeAlias type="kr.co.project.model.MemberVO" alias="memberVO"/>
         <typeAlias type="kr.co.project.model.MemberInfoVO" alias="memberinfoVO"/>
    </typeAliases>
</configuration>
